.title {
    grid-area: title;
    background: #305252;
    color: whitesmoke;
}

.title > h5 {
    transform: translateY(-85%);
}

.navbar {
    grid-area: navbar;
    background: #305252;
    align-self: center;
    color: whitesmoke;
}

.navbar > ul {
    list-style-type: none;
    padding: 0;
}

.navbar > ul > li {
    display: inline;
    margin-right: 1em;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
}
